/* Order on boxes */

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100px;
}

.box {
    color: white;
    font-weight: bold;
    height: 50px;
    width: 1;
}

.box1 {
    background-color: cadetblue;
}

.box2 {
    background-color: blue;
    flex-grow: 2;
}

.box3 {
    background-color: brown;
    flex-grow: 3;
}

.box4 {
    background-color: green;
    flex-grow: 2;
}

.box5 {
    background-color: orange;
}